<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337428230933-6shkh196o90tmjjkdnusq6lo8lrage4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337428230933-6shkh196o90tmjjkdnusq6lo8lrage4g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>337428230933-0uj98m24801j30bnf7gp5nuknnmtp5ol.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAf3BTtlahNvI408DvGCtbHcXW3WL8xB-k</string>
	<key>GCM_SENDER_ID</key>
	<string>337428230933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.touchalife.talleaders</string>
	<key>PROJECT_ID</key>
	<string>touch-a-life-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>touch-a-life-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337428230933:ios:927370db8112c083556f1c</string>
	<key>DATABASE_URL</key>
	<string>https://touch-a-life-dev.firebaseio.com</string>
</dict>
</plist>